<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
<gazebo>
    <plugin name="mybot_controller" filename="libgazebo_ros_diff_drive.so">
       <ros>
            <remapping>odom:=odom</remapping>
        </ros>
    <commandTopic>cmd_vel</commandTopic>
    <publish_odom>true</publish_odom>
    <publish_odom_tf>true</publish_odom_tf>
    <publish_wheel_tf>true</publish_wheel_tf>
    <odometry_frame>odom</odometry_frame>
    <robot_base_frame>base_footprint</robot_base_frame>
    <publishTf>true</publishTf>
    <publishWheelJointState>true</publishWheelJointState>
    <legacyMode>false</legacyMode>
    <updateRate>30</updateRate>
    <left_joint>left_wheel_joint</left_joint>
    <right_joint>right_wheel_joint</right_joint>
    <wheel_separation>0.180</wheel_separation>
    <wheel_diameter>0.05</wheel_diameter>
    <wheelAcceleration>10</wheelAcceleration>
    <wheelTorque>100</wheelTorque>
    <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>
</robot>